
html{
    background-color: rgb(250, 209, 228);
}
.my_photo{
    float: right;
    width: 150%;
}
h1{
    color: #ff0088;
    font-size: 50px;
    text-align: center;
}
h2{
    text-decoration: underline;
    text-align: center;
}
.container {
    display: flex;
    justify-content:center;
    background-color: rgb(246, 174, 203);
    border-color: blueviolet;
    border-style: outset;
    border-width: 10px;
}
div{
    margin-left: 15%;
    margin-right: 15%;
}
section{
    margin-left: 15%;
    margin-right: 15%;
}
li{
    text-align: left;
}
footer{
    text-align: center;
}
#logo{
    width: 5%;
}
#code_example{
    border-color: blueviolet;
    border-style: outset;
    border-width: 5px;
}
#skills, #experience,#education,#languages{
    margin-left: 45%;
    margin-right: 45%;
}